table,td,th
{
    border:lpx solid black;
    width: 33%;
    text-align: center;
    background-color: DarkGray;
    border-collapse:collapse;
}
table { margin:auto; }
input { text-align:right; }
 